<div class="container">
        <div><a routerLink="/"><img src="./../../../assets/retour.png" alt="retour"></a></div>
            
    <div class="explication">Chaque carte a plusieurs caractéristiques : <br><br>
        couleur, nombre, forme <br>
         (et remplissage si niveau avancé) <br><br>
         Le but du jeu est de sélectionner 3 cartes dont chaque caractéristique est soit pareille pour les 3, soit différente pour les 3. <br> <br>
         "JAMAIS 2 CONTRE 1"
    </div>
    <div><img src="./../../../assets/ex1.png" alt="exemple"></div>
    <div><img src="./../../../assets/ex2.png" alt="exemple"></div>
    <div><img src="./../../../assets/ex3.png" alt="exemple"></div>
    <div><img src="./../../../assets/ex5.png" alt="exemple"></div>
    <div><img src="./../../../assets/ex4.png" alt="exemple"></div>


</div>