.container{
    width:100vw; height: 100vh;
    position: absolute; top:0px;left:0px;
    //background: linear-gradient(orange, rgb(250, 179, 85));
    background: linear-gradient(#46abe8,#c4fffd);
    display: flex;
    flex-direction: column;
    align-items: center;
}
//----------------------------------------------------------
.info{
    background-color: rgb(80, 68, 68);
    border-radius: 5vw;
    height: 20vw; width: 90vw;
    display: flex;justify-content:space-around;align-items: center;
    margin: 5vw 5vw 5vw 5vw;
}
.rubrique{
    width: 15vw;
    height: 15vw;
    display: flex;justify-content: center;align-items: center;
}
.rubrique img{
   max-height: 15vw;
   max-width: 15vw;}
   .score{
       position: relative;
       left: -9vw;
       font-size: 10vw;
       font-weight: 500;
   }
.jeu{
    width: 100vw;
    height: 85vw;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.case{
    margin-top: 1.25vw;
    box-sizing: border-box;
    background-color: white;
    //margin:1.5vw;
    height:20vw;
    width: 32.5vw;
    border-radius: 3vw;
    overflow: hidden;
    display: flex;justify-content: center; align-items: center;
}
.rouge{
    border: 1vw solid  orangered;
}
.case img{
    height:100%;
    width: 100%;
}

.timer{
    text-align: center;
    color: white;
    font-size: 8vw;
}
.error{
    animation: agiter 1s linear ;
    animation-iteration-count: 1;
}
.etoile{
    z-index: 5;
    animation: monter .8s ease-in;
    animation-fill-mode: forwards;
}
.bouton div:active{
 background-color: rgb(155, 150, 150);
 border-radius: 2vw;
}

@keyframes monter{
    0%{transform: translateY(+130vh)}
    100%{transform: translateY(0)}
}


@keyframes agiter{
    0%{
        transform: rotateZ(0);
        }
        5%{
            transform: rotateZ(-15deg);
        }
        10%{
          
            transform: rotateZ(15deg);
        }
        15%{
            transform: rotateZ(-15deg);
        }
        20%{
          
            transform: rotateZ(15deg);
        }
        25%{
            transform: rotateZ(-15deg);
        }
        30%{
          
            transform: rotateZ(15deg);
        }
        35%{
            transform: rotateZ(-10deg);
        }
        40%{
            transform: rotateZ(10deg);
        }
        
        45%{
            transform: rotateZ(-10deg);
        }
        50%{
            transform: rotateZ(10deg);
        }
        
        55%{
            transform: rotateZ(-10deg);
        }
        60%{
            transform: rotateZ(10deg);
        }
        65%{
            transform: rotateZ(-6deg);
        }
        70%{
            transform: rotateZ(6deg);
        }
        75%{
            transform: rotateZ(-6deg);
        }
        80%{
            transform: rotateZ(6deg);
        }
        
        85%,100%{
            transform: rotateZ(0);
        
        }

}

