<div class="container">

    <div class="trophee" *ngIf="maStatToday.gain &&!statVis"><img src="./../../../assets/trophee.png" alt="trophee"></div>
    <div class="today" *ngIf="!statVis">
        <div *ngIf="maStatToday.gain">Félicitations, {{monpseudo}} !! Vous avez gagné {{maStatToday.score}}-{{maStatToday.scoreadv}} contre {{maStatToday.adv}} !</div>
        <div *ngIf="!maStatToday.gain">Désolé, vous avez perdu {{maStatToday.scoreadv}}-{{maStatToday.score}} contre {{maStatToday.adv}}... </div>
    </div>
    <!-------------------------------------------------------------------------->
    <div *ngIf="statVis" class="stat">
           <div>
                <table>
                    <tbody *ngFor="let s of mesStat$">
                       <tr>
                           <td>{{s.date| date:'dd/MM/YYYY'}}</td>
                           <td *ngIf="!s.gain">défaite</td>
                           <td *ngIf="s.gain">victoire</td>
                           <td>{{s.score}}-{{s.scoreadv}} ({{s.adv}}) </td>
                       </tr>
                    </tbody>
                </table>
           </div>
    </div>
    <!------------------------------------------------------------------------------------------------------->
    <div *ngIf="!statVis" class="logo" (click)="stat()"><img src="./../../../assets/stat.png" alt="stat"></div>

    <div (click)="nav()" class="logo"><img src="./../../../assets/home-fin.png" alt="home"></div>
</div>