<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="info">
      <div class="rubrique"><button (click)="changerTheme()">theme</button></div>
      <div class="rubrique"><img src="{{image}}" alt="image"></div>
      <div class="rubrique score"> {{score}}</div>
      <div class="rubrique"><img src="./../../../assets/sablier.png" alt=""></div>
      <div class=" rubrique timer"> {{htmlMin}}:{{htmlSec}}</div>

    </div>
    
    <div class="jeu">
      
      <div *ngFor="let carte of douze">
        <div class="case {{carte.classe}}"><img src="./../assets/{{commun.theme}}/{{carte.perso}}.png" alt=""
            (click)="select(carte.perso)"></div>
      </div>
    </div>
  </div>

  <app-theme *ngIf="commun.compThemeVis"></app-theme>

</body>

</html>