.container{
    width:100vw; height: 100vh;
    background: linear-gradient(black, grey);
    position: absolute; top:0px;left:0px;
}
.info{
    height: 20vw; width:100vw;
    display: flex;
    margin-top: 5vh ; margin-bottom: 5vh ;
    margin-left: 5vw;margin-right: 5vw;
}
.rubrique{
    width: 18vw;
    height: 18vw;
    display: flex;justify-content: center;align-items: center;
}
.rubrique img{
    max-height: 17vw;
    width: auto;}
.jeu{
    width: 100vw;
    height: 92vw;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap; 
}
.case{
    box-sizing: border-box;
    background-color: white;
    margin:1.5vw;
    height:20vw;
    width: 29vw;
    border-radius: 3vw;
    overflow: hidden;
    display: flex;justify-content: center; align-items: center;
}
.rouge{
    border: 1vw solid red;
}
.case img{
    height:100%;
    width: 100%;
}
.score{
    text-align: center;
    color: white;
    font-size: 10vw;
}
.timer{
    text-align: center;
    color: white;
    font-size: 8vw;
}

