<div class="container">
    <!--------------------------------------------------------------->

    <div class="titre">
        <div><img src="./../../../assets/defi.png" alt="defi"></div>
        <div><SPAN>DUEL DE SETS</SPAN></div>
        <div><img src="./../../../assets/defi.png" alt="defi"></div>
    </div>
    <!--------------------------------------------------------------->
    <div class="inscription" *ngIf="inscrVis">
        <img src="./../../../assets/inscription.png" alt="inscription">
        <input (click)="annuler1()" type="text" name="monPseudo" [(ngModel)]="monPseudo">
        <img (click)="enregistrer()" src="./../../../assets/v.png" alt="ok">
    </div>
    <!------------------------------------------------->
    <div class="lien" *ngIf="!inscrVis">
        Invite tes amis ! Copie-colle l'invitation en cliquant ici : <img (click)="copiercoller()"
            src="./../../../assets/cc.png" alt="cc"><br>
        Et envoie leur sur <img src="./../../../assets/fb.png" alt="logo">, <img src="./../../../assets/what.png"
            alt="logo">, <img src="./../../../assets/insta.png" alt="logo">

    </div>

    <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div *ngIf="!inscrVis" class="zoneloupe">
        <div class="recherche"><img src="./../../../assets/loupe.png" alt="loupe"><input type="text" name="rech"
                (click)="annuler2()" [(ngModel)]="rech"><img (click)="rechercher()" src="./../../../assets/v.png"
                alt="ok">
        </div>
        <div class="resultat" *ngIf="rechVis">{{resultat.pseudo}}<img (click)="ajouter(resultat.pseudo, resultat.etat)"
                src="./../../../assets/ajout.png" alt="plus"></div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->

    <div *ngIf="amis$ && !inscrVis" class="border">
      
        <span>MES AMIS :</span>
        
        <div class="amis">
            <div *ngFor="let ami of amis$; let i= index;">
                <div class="ami">
                    <div class="{{ami.etat}}"></div>

                    <div>{{ami.pseudo}}</div>
                    <div> <img *ngIf="ami.statut=='play'" (click)="reprendre(ami.num)"
                            src="./../../../assets/defi-vert.png" alt="defi">
                        <img *ngIf="ami.statut=='aucun'" (click)="inviter(ami.pseudo)"
                            src="./../../../assets/inviter2.png" alt="defi">
                        <img *ngIf="ami.statut=='defiepar'&& !ami.repondreVis" (click)="repondre(i)"
                            src="./../../../assets/repondre.png" alt="defi">
                        <img *ngIf="ami.statut=='defiepar'&& ami.repondreVis" (click)="accepter(ami.pseudo,i)"
                            src="./../../../assets/accepter.png" alt="rep">
                        <img *ngIf="ami.statut=='defiepar'&& ami.repondreVis" (click)="refuser(ami.pseudo,i)"
                            src="./../../../assets/refuser.png" alt="rep">
                        <img *ngIf="ami.statut=='defie'" src="./../../../assets/attente.png" alt="loupe">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------------------->
    <div *ngIf="!inscrVis" class="border">
        <span>AUTRES MEMBRES INSCRITS : </span>
 
        <div class="membres">
            <div *ngFor="let mb of mb$">
                <div class="ami">
                    <div class="{{mb.etat}}"></div>
                    <div>{{mb.pseudo}}</div>
                    <div><img (click)="ajouter(mb.pseudo, mb.etat)" src="./../../../assets/ajout.png" alt="plus">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>