.container{
    width:100vw; height: 100vh;
    position: absolute; top:0px;left:0px;
    //background: linear-gradient(orange, rgb(250, 179, 85));
    background: linear-gradient(#46abe8,#c4fffd);
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
   
.container div img {
    height: 20vh; width: auto;
}
.stat{
    margin-top: 5vh;
    height:70vh;
    width: 80vw;
    background-color: grey;
     color: white;
    border-radius: 5vw;
    display: flex; justify-content: space-around; align-items: center; flex-direction: column;
    font-size: 8vw;
}
.bravo{
    color: grey;
    font-size: 2em;
    width: 70vw;
    height: 15vh;
}
.logo{
    width: auto;
    height: 20vh;
}

