<div class="container">
    <div class="bravo" *ngIf="!statVis && commun.recordBattu">BRAVO!!! RECORD BATTU !!</div>

    <div *ngIf="statVis" class="stat">
        <div *ngIf="commun.mode===2">{{commun.score}} sets en 3 min </div>
        <div *ngIf="commun.mode===1">10 sets en {{commun.timer}} sec</div>
        <div *ngIf="!commun.recordBattu">Votre record du {{commun.recordD | date:'shortDate'}} :</div>
        <div *ngIf="commun.mode===2 && !commun.recordBattu">{{commun.sets}} sets en 3 min </div>
        <div *ngIf="commun.mode===1 && !commun.recordBattu">10 sets en {{commun.secs}} sec</div>
        <div>{{commun.totalSets}} sets au total </div>
        <div>(depuis le {{commun.inscrD | date:'shortDate'}})</div>
    </div>

    <div *ngIf="!statVis" class="logo" (click)="stat()"><img src="./../../../assets/stat.png" alt="stat"></div>

    <div (click)="nav('')" class="logo"><img src="./../../../assets/home-fin.png" alt="home"></div>


</div>