<div class="container">
    <div *ngIf="statVis">
        score: {{commun.score}} <br>
        time: {{commun.timer}} sec

        <br>

        votre record le {{commun.recordD | date:'shortDate'}}
        {{commun.sets}} en 3 minutes
        10 sets en {{commun.secs}} secondes

        <br>
        {{commun.totalSets}} sets au total depuis le {{commun.inscrD | date:'shortDate'}}
    </div>

    <div *ngIf="!statVis" (click)="stat()"><img src="./../../../assets/stat.png" alt="stat"></div>

    <div (click)="nav('')"><img src="./../../../assets/home.png" alt="home"></div>


</div>