<div class="container">

    <div *ngIf="!statVis && commun.recordBattu"><img src="./../../../assets/trophee.png" alt="trophee"></div>
    <div class="bravo" *ngIf="!statVis && commun.recordBattu">BRAVO!!! <br/> RECORD BATTU !!</div>

    <div *ngIf="statVis" class="stat">
        <div *ngIf="commun.mode==='3min'">Vous avez trouvé{{commun.score}} sets en 3 min </div>
        <div *ngIf="commun.mode==='10sets'">Votre time '10 sets' = {{commun.htmlMin}}:{{commun.htmlSec}}</div>
        <div *ngIf="commun.mode==='5sets'">Votre time '5 sets' = {{commun.htmlMin}}:{{commun.htmlSec}}</div>
        <div>Vos records :</div>
        <div *ngIf="commun.record3m!==0">'3min' : {{commun.record3m}} sets</div>
        <div *ngIf="commun.record10s!==0">'10 sets' : {{transfo(commun.record10s!)}}</div>
        <div *ngIf="commun.record5s!==0">'5 sets': {{transfo(commun.record5s!)}}</div>
        <div>{{commun.totalSets}} sets au total </div>
        <div>(depuis le {{commun.inscrD | date:'dd/MMM/YYYY'}})</div>
    </div>

    <div *ngIf="!statVis" class="logo" (click)="stat()"><img src="./../../../assets/stat.png" alt="stat"></div>

    <div (click)="nav('')" class="logo"><img src="./../../../assets/home-fin.png" alt="home"></div>


</div>