.container{
    width:100vw; height: 100vh;
    position: absolute; top:0px;left:0px;
    //background: linear-gradient(orange, rgb(250, 179, 85));
    background: linear-gradient(#46abe8,#c4fffd);
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
   
.container div img {
    height: 20vh; width: auto;
}
.stat{
    margin-top: 5vh;
    height:70vh;
    width: 80vw;
    background-color: grey;
     color: white;
    border-radius: 5vw;
    display: flex; justify-content: space-around; align-items: center; flex-direction: column;
    font-size: 8vw;
}
.bravo{
    color: grey;
    font-size: 2em;
    width: 70vw;
    height: 15vh;
}
.logo{
    width: auto;
    height: 20vh;
}
img[alt='trophee']{
    height: 25vh; width: auto;
    animation: agiter 1s linear ;
    animation-iteration-count: 3;
}

@keyframes agiter{
    0%{
        transform: rotateZ(0);
        }
        5%{
            transform: rotateZ(-15deg);
        }
        10%{
          
            transform: rotateZ(15deg);
        }
        15%{
            transform: rotateZ(-15deg);
        }
        20%{
          
            transform: rotateZ(15deg);
        }
        25%{
            transform: rotateZ(-15deg);
        }
        30%{
          
            transform: rotateZ(15deg);
        }
        35%{
            transform: rotateZ(-10deg);
        }
        40%{
            transform: rotateZ(10deg);
        }
        
        45%{
            transform: rotateZ(-10deg);
        }
        50%{
            transform: rotateZ(10deg);
        }
        
        55%{
            transform: rotateZ(-10deg);
        }
        60%{
            transform: rotateZ(10deg);
        }
        65%{
            transform: rotateZ(-6deg);
        }
        70%{
            transform: rotateZ(6deg);
        }
        75%{
            transform: rotateZ(-6deg);
        }
        80%{
            transform: rotateZ(6deg);
        }
        
        85%,100%{
            transform: rotateZ(0);
        
        }

}