<div class="container">
    <div class="banderolle">
        <div class="droite nivun">
            <img src="./../../../assets/bandeau-a.png" alt="banderolle">
        </div>

        <div class="droite bis nivun">
            <img src="./../../../assets/bandeau-b.png" alt="banderolle">
        </div>

        <div class="gauche nivdeux">
            <img src="./../../../assets/bandeau-c.png" alt="banderolle">
        </div>

        <div class="gauche bis nivdeux">
            <img src="./../../../assets/bandeau-d.png" alt="banderolle">
        </div>
    </div>
<!--------------------------------------------------------------------------------------------------------------->
    <div *ngIf="on">
  <div class="but">
        <div (click)="voirRegles()"><img src="./../../../assets/regles.png" alt="regles"></div>
    </div>
    <div class="jouer">
        <div *ngIf="!niveauVis" (click)="clickNiveau()"><img src="./../../../assets/jouer.png" alt="game"></div>
    </div>
    <div *ngIf="niveauVis" class="choix">
        <div class="choi" (click)="choixNiveau(1)">DEBUTANT</div>
        <div class="choi" (click)="choixNiveau(2)">CONFIRME</div>
    </div>
    <div class="onoff" (click)="decoGoogle()"><img src="./../../../assets/off.png" alt="bouton"></div>
    </div>
<!--------------------------------------------------------------------------------------------------------------->
    <div class='onoff' *ngIf="!on">
        <div class="bouton-on"(click)="authGoogle()"><img src="./../../../assets/on.png" alt="bouton"></div>
    </div>
<!--------------------------------------------------------------------------------------------------------------->
    <div class="banderolle">

        <div class="droite nivtrois">
            <img src="./../../../assets/bandeau-a.png" alt="banderolle">
        </div>

        <div class="droite bis nivtrois">
            <img src="./../../../assets/bandeau-b.png" alt="banderolle">
        </div>

        <div class="gauche nivquatre">
            <img src="./../../../assets/bandeau-c.png" alt="banderolle">
        </div>

        <div class="gauche bis nivquatre">
            <img src="./../../../assets/bandeau-d.png" alt="banderolle">
        </div>
    </div>
</div>