.container{
    width: 100vw;height: 100vh;
    top:0px;left:0px; position:absolute;
    display: flex;
    flex-direction: column;
   background-color: #c4fffd;
}

.banderolle{
    height: 40vw;
}
.onoff{
    width: 100vw;
    height:35vw;
    display: flex;
    justify-content: center; align-items:center;
}
img[alt='bouton']{
    display: block;
    width: 25vw;height: auto;
}
.but, .jouer{
    width: 100vw;
   
    display: flex; align-items: center; justify-content: center;
}
.but div{
    height: 10vh;
    width: 75vw;
    opacity: 0.5;
}
.jouer div{
    margin-top: 5vw;
    height: 20vh;
    width: 85vw;
}

.jouer div, .but div, .choi{
    border-radius: 5vw;
    background-color:#46abe8;
    overflow: hidden;
    transition: transform 1s;
    display: flex; align-items: center; justify-content: center;
}
.jouer div:active, .but div:active, .choi:active{
    transform: scale(0.7);
}
.choix{
    width: 100vw;
    display: flex;
    align-items: center; justify-content: space-around;
    
}
.choi{
    margin-top: 5vw;
    width: 45vw;
    height: 20vh;
    color: white;
    font-family: 'Segoe print';
    font-size: 7vw;
    font-weight: bold;

}
///////////////////////////////
.jouer img, .but img{
    width: 90%;
    padding: auto;
    height: auto;
}

 
///////////////////////////////////////////////////////////////////@at-root
img[alt='banderolle']{
width:100vw; height: 16vw;
}
.droite {
    width: 100vw;  height: 16vw;position: absolute;left:-100vw;
    animation: droite 12s linear infinite;
}   
.gauche{
    width: 100vw; height: 16vw;position: absolute; left:100vw;
    animation: gauche 12s linear infinite;
}
.bis {
    animation-delay: 6s;
}
.nivun{
top: 0vw; 
}
.nivdeux{
top: 16vw;
}
.nivtrois{
bottom:16vw;
}
.nivquatre{
bottom: 0vw;;
}
@keyframes droite {
   0%{
    transform: translateX(0);
    }
    100%{
        transform: translateX(200vw);
        }
}
@keyframes gauche {
    0%{
     transform: translateX(0);
     }
     100%{
         transform: translateX(-200vw);
         }
 }


  