<div class="container">
    <div class="gauche un">
        <img src="./../../../assets/bandeau.png" alt="banderolle">
    </div>
    <div class="droite un">
        <img src="./../../../assets/bandeaud.png" alt="banderolle">
    </div>
    <div class="gauche trois">
        <img src="./../../../assets/bandeau.png" alt="banderolle">
    </div>

    
    <div class="but">
        <div (click)="click('but')"><img src="./../../../assets/regles.png" alt="regles"></div>
    </div>
    <div class="jouer">
        <div *ngIf="!niveauVis" (click)="clickNiveau()"><img src="./../../../assets/jouer.png" alt="game"></div>
        </div>    
    <div *ngIf="niveauVis" class="choix">
        <div class="choi" (click)="choixNiveau(1)">DEBUTANT</div>
        <div class="choi" (click)="choixNiveau(2)">CONFIRME</div>
    </div>



    <div class="droite quatre">
        <img src="./../../../assets/bandeaud.png" alt="banderolle">
    </div>
    <div class="gauche deux">
        <img src="./../../../assets/bandeau.png" alt="banderolle">
    </div>
    <div class="droite deux">
        <img src="./../../../assets/bandeaud.png" alt="banderolle">
    </div>
</div>