.container{
    width:100vw; height: 100vh;
    position: absolute; top:0px;left:0px;
    background: linear-gradient( #46abe8 ,25%, #c4fffd );
}
//---------------------     haut     -------------------------------
.haut{
    height: 21vh; width: 100%;
   
    display: flex;
}
.nom, .score, .etoilerreur {
    height: 7vh;
    color: white;
    font-family: 'Comic Sans MS',sans-serif;
    font-size: 7vw;font-weight: bold;
    display: flex; justify-content: center; align-items: center;
}
.score{
    border:#00588e solid 1vw;
    border-radius: 2vw;
    box-sizing: border-box;
    padding: 3vw;
    color: rgb(230,40,100);
}
.zone{
    width: 33%; height: 21vh;
    display: flex; flex-direction:column; align-items: center;
}
.co{
    margin-left: 3vw;margin-right: 3vw;
    background-color: rgb(60,220,100);
    height: 3vw; width: 3vw;
    border-radius: 100%;
    box-shadow: 0px 0px 1vw green,0px 0px 2vw greenyellow,0px 0px 4vw greenyellow;
}
.deco{
    margin-left: 3vw;margin-right: 3vw;
    background-color:rgb(230,40,100);
    box-shadow: 0px 0px 1vw red,0px 0px 2vw rgb(245, 107, 107),0px 0px 4vw rgb(245, 107, 107);
    height: 3vw; width: 3vw;
    border-radius: 100%;
}
.etoilerreur img{
    height: 7vh; width: auto;
}
.invisible{
    display: none;
}
.temps{
    display: block;
}
.etoile{
    display: block;
    animation: briller 0.2s linear;
    animation-iteration-count: 3;
}
.erreur{
    display: block;
    animation: agiter 1s linear forwards;
    animation-iteration-count: 1;
}
//-----------------------   buzz    -------------------------------
.zonebuzz{
    width: 100%;
    height:18vw ;
    //display: flex; align-items: center; justify-content: center;
}
.buzz{
    border-radius: 100%;
    border: rgb(128, 123, 123) solid 1vw;
    height: 16vw;width: 16vw;
    animation: clignoter 1s ease-in-out infinite;
    display: flex;justify-content: center;align-items: center;
}
.buzz.eteint{
    animation: none;
}

@keyframes clignoter{
   0%,100%{
 opacity: 1;
   }
   50%{
opacity: 0.6;
   } 
}
 .buzz.orange:active{
    border: rgb(128,123,123) solid 2vw;
    transform: scale(0.8);
    transform: translateX(-3.2vw), translateY(-3.2vw);
}
.tas img{
width: 30vw; height: auto;
}
.abandon img{
    width: auto; height:5vh;   
}
.abandon{
    display: flex; justify-content: center; 
}
.eteint{
background-color: rgb(163, 152, 152);
}
.orange{
background-color: rgb(60,220,100);
box-shadow: 0px 0px 1vw green,0px 0px 2vw greenyellow,0px 0px 4vw greenyellow;
}
.rouge{
    background-color: rgb(230,40,100);
    box-shadow: 0px 0px 1vw red,0px 0px 2vw rgb(245, 107, 107),0px 0px 4vw rgb(245, 107, 107);
}
.milieu{
position: relative;
left: 42vw;
}
.droite{
    position: relative;
left: 7vw;
}
.gauche{
    position: relative;
left: 7vw;
}
//------------------------------------------------------
.pub{
    width: 100%;
    height: 30%;
    }

/////////////////////////////////////////////////////////////
.jeu{
    width: 100vw;
    height: 85vw;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.case{
    margin-top: 1.25vw;
    box-sizing: border-box;
    background-color: white;
    //margin:1.5vw;
    height:20vw;
    width: 32.5vw;
    border-radius: 3vw;
    overflow: hidden;
    display: flex;justify-content: center; align-items: center;
}
.select{
    border: 1vw solid  orangered;
}
.vide{
    background-color: rgba(0,0,0,0);
}


.case img{
    height:100%;
    width: 100%;
}
@keyframes briller{
    to{
           transform: scale(1.8);
       }
   }

   @keyframes agiter{
    0%{
        transform: rotateZ(0);
        }
        5%{
            transform: rotateZ(-15deg);
        }
        10%{
          
            transform: rotateZ(15deg);
        }
        15%{
            transform: rotateZ(-15deg);
        }
        20%{
          
            transform: rotateZ(15deg);
        }
        25%{
            transform: rotateZ(-15deg);
        }
        30%{
          
            transform: rotateZ(15deg);
        }
        35%{
            transform: rotateZ(-10deg);
        }
        40%{
            transform: rotateZ(10deg);
        }
        
        45%{
            transform: rotateZ(-10deg);
        }
        50%{
            transform: rotateZ(10deg);
        }
        
        55%{
            transform: rotateZ(-10deg);
        }
        60%{
            transform: rotateZ(10deg);
        }
        65%{
            transform: rotateZ(-6deg);
        }
        70%{
            transform: rotateZ(6deg);
        }
        75%{
            transform: rotateZ(-6deg);
        }
        80%{
            transform: rotateZ(6deg);
        }
        
        85%,100%{
            transform: rotateZ(0);}} 
.timer{
    color: white;
    font-weight: bold;
    z-index: 3;
    font-size: 11vw;
}