<div class="container">
    <div class="haut">
        <div class="zone joueur un">
            <div class="nom">
                <div>{{maPartie.joueur1}} </div>
                <div class="{{lum1}}"></div>
            </div>
            <div class="score">{{maPartie.score1}}</div>
            <div class="etoilerreur">
                <img  class="{{maPartie.classetoile1}}" src="./../../../assets/etoile.png" alt="etoile">
                <img  class="{{maPartie.classerreur1}}"  src="./../../../assets/error.png" alt="erreur">
            </div>
        </div>

        <div class="zone">
            <div class="abandon">
                <div><img (click)="abandonner()" src="./../../../assets/abandon.png" alt="abandon"></div>
            </div>
            <div class="tas">
                <div *ngIf="maPartie.cartes.length>2 && !setDetecte"><img (click)="detecterSet()" src="./../../../assets/tas.png" alt="tas"></div>
                <div *ngIf="maPartie.cartes.length>2 && setDetecte"><img src="./../../../assets/tasbarre.png" alt="tas"></div>
            </div>
           
        </div>

        <div class="zone joueur deux">
            <div class="nom">
                {{maPartie.joueur2}}
                <div class="{{lum2}}"></div>
            </div>
            <div class="score">{{maPartie.score2}}</div>
            <div class="etoilerreur">
                <img  class="{{maPartie.classetoile2}}" src="./../../../assets/etoile.png" alt="etoile">
                <img  class="{{maPartie.classerreur2}}"  src="./../../../assets/error.png" alt="erreur">
            </div>

        </div>
    </div>
<!-------------------------------------------------------------------------------------------------------------------->
    <div class="zonebuzz">
        <div class="buzz {{maPartie.colorbuzz}} {{maPartie.posbuzz}}" (click)="buzzer()">
             <div *ngIf="timerVis" class="timer">{{timer}}</div>
        </div>
    </div>
<!---------------------------------------------------------------------------------------------------------------------->    
  <div class="jeu">
    <div *ngFor="let carte of maPartie.douze">
      <div *ngIf="carte.perso && carte.perso !== undefined && carte.perso !== 'null'"  (click)="select(carte.perso)" class="{{carte.classe}}"><img src="./../../../assets/normal/{{carte.perso}}.png" alt=""></div>   
      <div *ngIf="!carte.perso || carte.perso == undefined || carte.perso == 'null'" class="case vide"></div>
    </div>
  </div>
<!--------------------------------------------------------------------------------------------------------------------->
    <div class="pub"></div>


<!---------------------------------->    
</div>